.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.button {
    order: 2;
    border: none;
    color: #2185d0;
    text-align: left;
    z-index: 1;
}

.button:focus {
    outline: 0;
}

.body {
    order: 1;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
    padding: 0 8px;
}